body{
    text-align: center;
    background-color: red;
}
.mainpic{
    height: 600px;
    width: 800px;
    border-radius:20px;
    background-color: red;
}
.container{
    background-color: red;
}
img{
    height:120px;
    text-align: center;
}
p{
    text-decoration-color: black;
    font-size: 35px;
}